---
http_interactions:
- request:
    method: get
    uri: http://torrentz.eu/feed?q=The%20Office%20Season%208
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n
        \  <channel>\n\t  <title>Torrentz - The Office Season 8</title>\n\t  <link>http://torrentz.eu/search?q=The+Office+Season+8</link>\n\t
        \ <description>The Office Season 8 search</description>\n\t  <language>en-us</language>\n\t
        \ <atom:link href=\"http://torrentz.eu/feed?q=The%20Office%20Season%208\"
        rel=\"self\" type=\"application/rss+xml\" />\n\t  <item>\n\t\t <title>The
        Office US The Complete Season 8 HDTV</title>\n\t\t <link>http://torrentz.eu/f6c598d155e53f793d429582afaa160f2101b3fb</link>\n\t\t
        <guid>http://torrentz.eu/f6c598d155e53f793d429582afaa160f2101b3fb</guid>\n\t\t
        <pubDate>Fri, 11 May 2012 18:20:27 +0000</pubDate>\n\t\t <category>tv</category>\n\t\t
        <description>Size: 4117 MB Seeds: 461 Peers: 133 Hash: f6c598d155e53f793d429582afaa160f2101b3fb</description>\n\t
        \ </item>\n\t  <item>\n\t\t <title>The Office Season 8 Episodes 1 12</title>\n\t\t
        <link>http://torrentz.eu/3c17a47b1a28025af343df7435354405d4914b47</link>\n\t\t
        <guid>http://torrentz.eu/3c17a47b1a28025af343df7435354405d4914b47</guid>\n\t\t
        <pubDate>Fri, 25 May 2012 12:49:06 +0000</pubDate>\n\t\t <category>video tv
        </category>\n\t\t <description>Size: 2098 MB Seeds: 0 Peers: 2 Hash: 3c17a47b1a28025af343df7435354405d4914b47</description>\n\t
        \ </item>\n\t  <item>\n\t\t <title>The Office Season 8 Ep 1</title>\n\t\t
        <link>http://torrentz.eu/278da454271d90a751f7fc2967ba99933ea5eebb</link>\n\t\t
        <guid>http://torrentz.eu/278da454271d90a751f7fc2967ba99933ea5eebb</guid>\n\t\t
        <pubDate>Fri, 25 May 2012 10:41:25 +0000</pubDate>\n\t\t <category>video tv
        movies</category>\n\t\t <description>Size: 175 MB Seeds: 0 Peers: 0 Hash:
        278da454271d90a751f7fc2967ba99933ea5eebb</description>\n\t  </item>\n\t </channel>\n</rss>"
  recorded_at: Wed, 06 Feb 2013 21:46:25 GMT
recorded_with: VCR 2.4.0
